*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  color: #777; }

.sidebar {
  background-image: linear-gradient(to bottom, #77a2ff, #0046c9);
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s; }
  .sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%; }
  .sidebar__link {
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    padding: 1.5rem 3rem;
    position: relative;
    transition: 0.8s; }
  .sidebar__link::after {
    content: "";
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    z-index: -1; }
  .sidebar__link:hover::after {
    transform: scaleY(1);
    width: 100%; }
  .sidebar__link:hover {
    color: #4e4e4e; }
  .sidebar__input {
    display: none; }
  .sidebar__label {
    background-color: #333333;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    top: 5rem;
    left: -8rem;
    transform: translateY(-50%);
    border: 3px solid white;
    cursor: pointer;
    transition: all 1s;
    outline: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .sidebar__label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 50%;
    z-index: 1;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0; }
  .sidebar__label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 3px;
    background-color: white; }
  .sidebar__input:checked ~ .sidebar__label::after {
    opacity: 1; }
  .sidebar__input:checked ~ .sidebar__label::before {
    opacity: 0; }

.main-container {
  background-image: linear-gradient(to right top, rgba(2, 2, 2, 0.8), rgba(2, 2, 2, 0.2)), url(../img/main3.jpg);
  width: 100vw;
  height: 80vh;
  position: relative;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s; }
  .main-container__items {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); }
  .main-container__title {
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 4rem;
    display: block;
    float: left;
    margin-left: 3rem;
    margin-top: 2rem;
    color: #fff;
    position: relative; }
  .main-container__icon {
    position: absolute;
    top: -1.2rem;
    right: -2.5rem;
    font-size: 3.5rem; }
  .main-container__btn {
    margin-top: 2rem;
    font-family: "Lato";
    letter-spacing: 1px;
    border-radius: 2px;
    background-color: #0e53d4;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    border: none;
    width: 13rem;
    height: 3.5rem;
    transition: 0.2s;
    cursor: pointer; }
  .main-container__btn:hover {
    background-color: #0240b3; }
  .main-container__heading {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1.8rem;
    position: relative;
    display: inline-block; }
  .main-container__heading::before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: #0046c9;
    left: -2rem;
    transition: 0.5s; }
  .main-container__hook {
    font-size: 3rem;
    color: #fff;
    width: 70%; }
  .main-container__checkbox {
    display: none; }
  .main-container__checkbox:checked + .main-container__checkbox-label {
    background-color: #fff; }
  .main-container__checkbox-label {
    display: inline-block;
    width: 4rem;
    height: 3.5px;
    background-color: rgba(255, 255, 255, 0.404);
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.3s; }
  .main-container__checkbox-label-container {
    position: absolute;
    left: 5%;
    bottom: 3rem; }

.h3-heading {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-weight: 300;
  margin-bottom: 5rem; }

.heading-span {
  text-decoration: underline;
  cursor: pointer;
  color: #444343; }

.section__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-template-rows: repeat(auto-fit, 10vh);
  grid-gap: 2rem;
  margin-bottom: 10rem;
  grid-template-areas: "item1 item2 item3" "item1 item2 item3" "item1 item2 item6" "item4 item2 item6" "item4 item5 item6" "item4 item5 item8" "item7 item7 item8"; }
  @media only screen and (max-width: 43.7em) {
    .section__grid {
      grid-template-areas: "item1 item2" "item1 item2" "item3 item2" "item3 item6" "item4 item6" "item4 item6" "item4 item5" "item7 item7" "item7 item7" "item8 item8" "item8 item8"; } }
  @media only screen and (max-width: 31em) {
    .section__grid {
      grid-template-areas: "item1 item1" "item1 item1" "item2 item2" "item2 item2" "item3 item3" "item4 item4" "item4 item4" "item4 item4" "item5 item5" "item6 item6" "item6 item6" "item7 item7" "item8 item8"; } }

.section__item-1 {
  background-color: #fff;
  padding: 3rem 4rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  grid-area: item1;
  color: #353535; }

.section__item-2 {
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  grid-area: item2;
  color: #353535; }

.section__item-3 {
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  grid-area: item3;
  color: #353535;
  padding: 3rem 4rem; }

.section__item-4 {
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  grid-area: item4;
  color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.section__item-5 {
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  grid-area: item5;
  padding: 3rem 4rem;
  color: #353535; }

.section__item-6 {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  grid-area: item6;
  overflow: none;
  color: #353535; }

.section__item-7 {
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  grid-area: item7;
  display: flex;
  align-items: center;
  color: #353535; }

.section__item-8 {
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  grid-area: item8;
  padding: 3rem 4rem;
  color: #353535; }

.section__img-2 {
  width: 100%;
  max-height: 25rem;
  object-fit: cover; }

.section__img-2-special {
  width: 100%;
  max-height: 30rem;
  object-fit: cover; }

.section__img-6 {
  width: 100%;
  object-fit: cover;
  display: block;
  min-height: 100%; }

.section__img-7 {
  display: inline-block;
  min-width: 50%;
  object-fit: cover;
  max-height: 28rem; }

.section__btn {
  padding: 0.3rem 1rem;
  background-color: #1a4df7;
  color: white;
  border: none;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 2px; }

.section__heading {
  width: 75%;
  font-size: 1.8rem;
  font-weight: 300; }

.section__info {
  font-size: 1.4rem;
  width: 90%;
  font-weight: 300;
  padding-top: 1rem;
  margin-top: 1rem;
  position: relative; }

.section__info-2 {
  font-size: 1.4rem;
  width: 80%;
  margin: 0 auto;
  font-weight: 300; }

.section__info-7 {
  font-size: 1.4rem;
  width: 70%;
  margin: 0 auto;
  font-weight: 300; }

.section__info-2-container {
  padding: 3rem 3rem; }

.section__info-p {
  width: 80%;
  margin: 3rem auto;
  font-size: 1.4rem;
  color: inherit; }

.section__info:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 1px;
  background-color: #9e9e9e; }

section {
  padding: 0 5rem; }

body {
  background-color: #e4e4e4; }

.section2 {
  width: 100%;
  height: 50rem;
  background-color: #fff;
  display: flex;
  margin-bottom: 10rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 43.7em) {
    .section2 {
      flex-direction: column;
      height: 90vh;
      justify-content: space-between; } }
  .section2__img {
    width: 50%;
    background-image: linear-gradient(rgba(99, 130, 198, 0.5), rgba(42, 66, 173, 0.5)), url(../img/family.jpg);
    object-fit: cover;
    background-size: cover; }
    @media only screen and (max-width: 43.7em) {
      .section2__img {
        width: 100%;
        height: 50%; } }
  .section2__flex {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0px 6rem;
    width: 40%;
    margin: 0 auto; }
    @media only screen and (max-width: 43.7em) {
      .section2__flex {
        display: block;
        width: 100%;
        padding: 1rem 3rem; } }
  .section2__btn {
    align-self: flex-start;
    margin-top: 3rem;
    padding: 1.5rem 2rem;
    background-color: #094ccc;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 300;
    font-size: 1.2rem;
    width: 100%; }
    @media only screen and (max-width: 43.7em) {
      .section2__btn {
        width: auto; } }
  .section2__btn:hover {
    background-color: #003099; }
  .section2__heading {
    font-size: 2rem;
    font-weight: 400;
    color: #094ccc;
    text-transform: uppercase;
    margin-bottom: 1.5rem; }
  .section2__main-heading {
    font-size: 3.5rem;
    color: #363636;
    font-weight: 500;
    font-style: italic; }
  .section2__paragraph {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 300; }
    @media only screen and (max-width: 43.7em) {
      .section2__paragraph {
        width: 80%; } }

.section-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin-bottom: 15rem; }
  .section-3__item {
    background-color: #fff;
    padding-bottom: 3rem;
    position: relative;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .section-3__ul {
    width: 100%;
    padding: 3rem 3rem; }
  .section-3__li {
    text-align: center;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: #302f2f;
    padding: 1rem; }
  .section-3__li:not(:first-of-type) {
    border-top: 1px solid #e4e4e4; }
  .section-3__img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover; }
  .section-3__btn {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -1.2rem);
    left: 50%;
    padding: 1.5rem 0;
    background-color: #202020;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    width: 80%; }
  .section-3__btn-2 {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    background-color: #0b4dcd;
    color: #fff;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    transition: 0.3s;
    cursor: pointer; }
  .section-3__btn-2:hover {
    background-color: #003099; }

.mod-container {
  margin-bottom: 15rem;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 43.7em) {
    .mod-container {
      flex-direction: column;
      align-items: center; } }
  .mod-container__title {
    font-size: 3rem;
    color: #333333;
    font-weight: 300;
    letter-spacing: 1px; }
  .mod-container__small {
    font-size: 1.5rem;
    color: #838181;
    position: relative; }
    @media only screen and (max-width: 43.7em) {
      .mod-container__small {
        margin-top: 3rem; } }
  .mod-container__small::before {
    content: "";
    position: absolute;
    left: -2rem;
    width: 2px;
    height: 100%;
    background-color: blue; }
  .mod-container__column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%; }
    @media only screen and (max-width: 43.7em) {
      .mod-container__column {
        width: 80%; } }
  .mod-container__bg-border {
    border: 0.8rem solid white;
    width: 32rem;
    height: 35rem;
    position: relative; }
    @media only screen and (max-width: 43.7em) {
      .mod-container__bg-border {
        margin-top: 8rem; } }
  .mod-container__main-form {
    position: absolute;
    top: 3rem;
    width: 32rem;
    height: 35rem;
    right: 3rem;
    background-image: linear-gradient(to bottom, #464545, #202020);
    padding: 3rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .mod-container__form-title {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    line-height: 1; }
  .mod-container__contact {
    color: #b1b1b1;
    margin-bottom: 2rem; }
  .mod-container__input-container {
    display: grid;
    grid-gap: 2px;
    grid-template-areas: "email hike" "dropdown dropdown" "btn btn"; }
  .mod-container__footer {
    text-align: center;
    color: #d4d4d4;
    margin-top: 3rem;
    font-size: 1.2rem; }
  .mod-container__anchor {
    color: #445de9; }
  .mod-container__hike {
    grid-area: hike;
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    outline: none; }
  .mod-container__email {
    grid-area: email;
    padding: 1rem 2rem;
    width: 100%;
    outline: none; }
  .mod-container__dropdown {
    grid-area: dropdown;
    padding: 1rem 2rem;
    outline: none; }
  .mod-container__btn {
    grid-area: btn;
    padding: 1rem 2rem;
    background-image: linear-gradient(to right bottom, #445de9, #0c2ff7);
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.2s; }

.footer {
  min-height: 25rem;
  background-color: #202020;
  display: flex;
  align-items: center; }
  .footer__container {
    display: flex;
    justify-content: space-around;
    width: 100%; }
  .footer__title {
    align-self: flex-start;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: 3px; }
  .footer-col {
    display: flex;
    flex-direction: column; }
  .footer__item {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem; }
  .footer__small-title {
    margin-bottom: 1.5rem; }
  .footer__med-title {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem; }
  .footer__input {
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 0.5rem;
    width: 100%;
    outline: none; }
  .footer__btn {
    background-color: blue;
    color: white;
    margin-top: 2rem;
    justify-self: flex-start;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 1px;
    cursor: pointer; }
