.footer {
  min-height: 25rem;
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__title {
    align-self: flex-start;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: 3px;
  }

  &-col {
    display: flex;
    flex-direction: column;
  }
  &__item {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }

  &__small-title {
    margin-bottom: 1.5rem;
  }

  &__med-title {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  &__input {
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 0.5rem;
    width: 100%;
    outline: none;
  }

  &__btn {
    background-color: blue;
    color: white;
    margin-top: 2rem;
    justify-self: flex-start;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 1px;
    cursor: pointer;
  }
}
