.main-container {
  background-image: linear-gradient(
      to right top,
      rgba(2, 2, 2, 0.8),
      rgba(2, 2, 2, 0.2)
    ),
    url(../img/main3.jpg);
  width: 100vw;
  height: 80vh;
  position: relative;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;

  &__items {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  &__title {
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 4rem;
    display: block;
    float: left;
    margin-left: 3rem;
    margin-top: 2rem;
    color: #fff;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: -1.2rem;
    right: -2.5rem;
    font-size: 3.5rem;
  }

  &__btn {
    margin-top: 2rem;
    font-family: "Lato";
    letter-spacing: 1px;
    border-radius: 2px;
    background-color: rgb(14, 83, 212);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    border: none;
    width: 13rem;
    height: 3.5rem;
    transition: 0.2s;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: rgb(2, 64, 179);
  }

  &__heading {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1.8rem;
    position: relative;
    display: inline-block;
  }

  &__heading::before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 70, 201);
    left: -2rem;
    transition: 0.5s;
  }

  &__hook {
    font-size: 3rem;
    color: #fff;
    width: 70%;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__checkbox-label {
    background-color: #fff;
  }

  &__checkbox-label {
    display: inline-block;
    width: 4rem;
    height: 3.5px;
    background-color: rgba(255, 255, 255, 0.404);
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
  }

  &__checkbox-label-container {
    position: absolute;
    left: 5%;
    bottom: 3rem;
  }
}
