.h3-heading {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

.heading-span {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(68, 67, 67);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 10vw);
  grid-gap: 2rem;
}

.section {
  &__item-1 {
    background-color: #fff;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem rgba(black, 0.1);
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
  }
  &__item-2 {
    background-color: #fff;
    box-shadow: 0 1rem 1rem rgba(black, 0.1);
    grid-row: 1 / span 4;
    grid-column: 2 / span 1;
  }

  &__item-3 {
    background-color: #fff;
    box-shadow: 0 1rem 1rem rgba(black, 0.1);
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;

    padding: 3rem 4rem;
  }

  &__item-4 {
    background-color: #fff;
    box-shadow: 0 1rem 1rem rgba(black, 0.1);
    grid-row: 4 / span 3;
    grid-column: 1 / span 1;
  }

  &__img-2 {
    width: 100%;
    object-fit: cover;
    max-height: 50%;
  }

  &__btn {
    padding: 0.3rem 1rem;
    background-color: rgb(26, 77, 247);
    color: white;
    border: none;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  &__heading {
    width: 75%;
    font-size: 1.8rem;
    font-weight: 300;
  }

  &__info {
    font-size: 1.4rem;
    width: 90%;
    font-weight: 300;
    padding-top: 1rem;
    margin-top: 1rem;
    position: relative;
  }

  &__info-2 {
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
  }

  &__info-2-container {
    padding: 3rem 3rem;
  }

  &__info-p {
    width: 80%;
    margin: 3rem auto;
    font-size: 1.4rem;
    color: inherit;
  }

  &__info:first-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 1px;
    background-color: rgb(158, 158, 158);
  }
}

section {
  background-color: rgb(228, 228, 228);
  padding: 0 5rem;
}

main {
  background-color: rgb(228, 228, 228);
}
