.sidebar {
  background-image: linear-gradient(
    to bottom,
    rgb(119, 162, 255),
    rgb(0, 70, 201)
  );
  height: 100vh;
  width: 25vw;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__link {
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    padding: 1.5rem 3rem;
    position: relative;
    transition: 0.8s;
  }
  &__link::after {
    content: "";
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    z-index: -1;
  }

  &__link:hover::after {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:hover {
    color: rgb(78, 78, 78);
  }

  &__input {
    display: none;
  }

  &__label {
    background-color: rgb(51, 51, 51);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -2.5rem;
    transform: translateY(-50%);
    border: 3px solid white;
    cursor: pointer;
  }

  &__label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 50%;
    z-index: 1;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
  }

  &__input:checked ~ &__label::after {
    opacity: 1;
  }
}
