.section2 {
  width: 100%;
  height: 50rem;
  background-color: #fff;
  display: flex;
  margin-bottom: 10rem;
  box-shadow: 0 1rem 1rem rgba(black, 0.1);

  @media only screen and (max-width: 43.7em) {
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
  }

  &__img {
    width: 50%;
    background-image: linear-gradient(
        rgba(99, 130, 198, 0.5),
        rgba(42, 66, 173, 0.5)
      ),
      url(../img/family.jpg);
    object-fit: cover;
    background-size: cover;
    @media only screen and (max-width: 43.7em) {
      width: 100%;
      height: 50%;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0px 6rem;
    width: 40%;
    margin: 0 auto;
    @media only screen and (max-width: 43.7em) {
      display: block;
      width: 100%;
      padding: 1rem 3rem;
    }
  }

  &__btn {
    align-self: flex-start;
    margin-top: 3rem;
    padding: 1.5rem 2rem;
    background-color: rgb(9, 76, 204);
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 300;
    font-size: 1.2rem;
    width: 100%;

    @media only screen and (max-width: 43.7em) {
      width: auto;
    }
  }

  &__btn:hover {
    background-color: rgb(0, 48, 153);
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(9, 76, 204);
    text-transform: uppercase;

    margin-bottom: 1.5rem;
  }

  &__main-heading {
    font-size: 3.5rem;
    color: rgb(54, 54, 54);
    font-weight: 500;
    font-style: italic;
  }

  &__paragraph {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 300;

    @media only screen and (max-width: 43.7em) {
      width: 80%;
    }
  }
}
