*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  color: $color-grey;
}
